# Работа со строковыми значениями

__Автор задач: Блохин Н.В. (NVBlokhin@fa.ru)__

Материалы:
* Макрушин С.В. Лекция "Работа со строковыми значениям"
* https://pyformat.info/
* https://docs.python.org/3/library/re.html
    * https://docs.python.org/3/library/re.html#flags
    * https://docs.python.org/3/library/re.html#functions
* https://pythonru.com/primery/primery-primeneniya-regulyarnyh-vyrazheniy-v-python
* https://kanoki.org/2019/11/12/how-to-use-regex-in-pandas/
* https://realpython.com/nltk-nlp-python/

In [ ]:
import re
import nltk
import pandas as pd
from bs4 import BeautifulSoup

## Задачи для совместного разбора

1. Вывести на экран данные из словаря `obj` построчно в виде `k = v`, задав формат таким образом, чтобы знак равенства оказался на одной и той же позиции во всех строках. Строковые литералы обернуть в кавычки.

In [ ]:
obj = {
    "home_page": "https://github.com/pypa/sampleproject",
    "keywords": "sample setuptools development",
    "license": "MIT",
}
[print("{:<10} = '{}'".format(k, v)) for k, v in obj.items()]

home_page  = 'https://github.com/pypa/sampleproject'
keywords   = 'sample setuptools development'
license    = 'MIT'

{None}

2. Написать регулярное выражение,которое позволит найти номера групп студентов.

In [ ]:
obj = pd.Series(["Евгения гр.ПМ19-1", "Илья пм 20-4", "Анна 20-3"])
[print(re.findall(r'\d+[-]\d+',i)[0]) for i in obj]

19-1
20-4
20-3

{None}

3. Разбейте текст формулировки задачи 2 на слова.

In [ ]:
text = 'Написать регулярное выражение,которое позволит найти номера групп студентов.'
print(text.split('.')[0].split())

['Написать', 'регулярное', 'выражение,которое', 'позволит', 'найти', 'номера', 'групп', 'студентов']

## Лабораторная работа 6

### Форматирование строк

1\. Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в виде `pd.DataFrame` `recipes` При помощи форматирования строк выведите информацию об id рецепта и времени выполнения 5 случайных рецептов в виде таблицы следующего вида:

    
    |      id      |  minutes  |
    |--------------------------|
    |    61178     |    65     |
    |    202352    |    80     |
    |    364322    |    150    |
    |    26177     |    20     |
    |    224785    |    35     |
    
Обратите внимание, что ширина столбцов заранее неизвестна и должна рассчитываться динамически, в зависимости от тех данных, которые были выбраны.

In [ ]:
with open('recipes_sample.csv') as file:
  recipes = pd.read_csv(file, delimiter = ',')
rec = recipes.sample(5)[['id', 'minutes']]
id_max = len(str(max(list(rec['id'])))) + 4
min_max = len('minutes') + 2
print('|{:^{ro}}|{:^{ra}}|'.format('id', 'minutes', ro = id_max, ra = min_max))
print('{:-<{ro}}{:->{ra}}'.format('|', '|', ro = id_max + len('id') + 1, ra = min_max))
[print('|{:^{ro}}|{:^{ra}}|'.format(rec.iloc[i]['id'], rec.iloc[i]['minutes'], ro = id_max, ra = min_max)) for i in range(5)]

|    id    | minutes |
|--------------------|
|  318129  |   270   |
|  142753  |   150   |
|  391101  |   40    |
|  70239   |   70    |
|  341917  |   65    |

[None, None, None, None, None]

2\. Напишите функцию `show_info`, которая по данным о рецепте создает строку (в смысле объекта python) с описанием следующего вида:

```
"Название Из Нескольких Слов"

1. Шаг 1
2. Шаг 2
----------
Автор: contributor_id
Среднее время приготовления: minutes минут
```

    
Данные для создания строки получите из файлов `recipes_sample.csv` (__ЛР2__) и `steps_sample.xml` (__ЛР3__). 
Вызовите данную функцию для рецепта с id `170895` и выведите (через `print`) полученную строку на экран.

In [ ]:
with open('steps_sample.xml') as file:
  ko = BeautifulSoup(file, 'xml')
id = ko.find_all('id')
steps = [[y.next for y in i.find_all('step')] for i in ko.find_all('steps')]
res_dic = {i.next : y for i, y in zip(id, steps)}

In [ ]:
def show_info(id):
  global res_dic
  global recipes
  steps = res_dic[str(id)]
  data = recipes[(recipes.id == id)]
  strin = '"{}"\n'.format(list(data['name'])[0])
  for i in range(len(steps)):
    strin += '{}. "{}"\n'.format(i + 1, steps[i])
  strin += '-------------------------------------------------------------------\n'
  strin += 'Автор: {}\nСреднее время приготовления: {} минут'.format(list(data['contributor_id'])[0], list(data['minutes'])[0])
  return(strin)
print(show_info(170895))

"leeks and parsnips  sauteed or creamed"
1. "clean the leeks and discard the dark green portions"
2. "cut the leeks lengthwise then into one-inch pieces"
3. "melt the butter in a medium skillet , med"
4. "heat"
5. "add the garlic and fry 'til fragrant"
6. "add leeks and fry until the leeks are tender , about 6-minutes"
7. "meanwhile , peel and chunk the parsnips into one-inch pieces"
8. "place in a steaming basket and steam 'til they are as tender as you prefer"
9. "i like them fork-tender"
10. "drain parsnips and add to the skillet with the leeks"
11. "add salt and pepper"
12. "gently sautee together for 5-minutes"
13. "at this point you can serve it , or continue on and cream it:"
14. "in a jar with a screw top , add the half-n-half and arrowroot"
15. "shake 'til blended"
16. "turn heat to low under the leeks and parsnips"
17. "pour in the arrowroot mixture , stirring gently as you pour"
18. "if too thick , gradually add the water"
19. "let simmer for a couple of minutes"
20. "taste to adjust seasoning , probably an additional 1 / 2 teaspoon salt"
21. "serve warm"
-------------------------------------------------------------------
Автор: 8377
Среднее время приготовления: 27 минут

In [ ]:
assert (
    show_info(
        name="george s at the cove black bean soup",
        steps=[
            "clean the leeks and discard the dark green portions",
            "cut the leeks lengthwise then into one-inch pieces",
            "melt the butter in a medium skillet , med",
        ],
        minutes=90,
        author_id=35193,
    )
    == '"George S At The Cove Black Bean Soup"\n\n1. Clean the leeks and discard the dark green portions\n2. Cut the leeks lengthwise then into one-inch pieces\n3. Melt the butter in a medium skillet , med\n----------\nАвтор: 35193\nСреднее время приготовления: 90 минут\n'
)

## Работа с регулярными выражениями

3\. Напишите регулярное выражение, которое ищет следующий паттерн в строке: число (1 цифра или более), затем пробел, затем слова: hour или hours или minute или minutes. Произведите поиск по данному регулярному выражению в каждом шаге рецепта с id 25082. Выведите на экран все непустые результаты, найденные по данному шаблону.

In [ ]:
foo = re.findall(r'\d? \bhour\b|\bhours\b|\bminute\b|\bminutes\b', show_info(25082))
foo

['minutes', 'minutes', 'hours', 'minutes', ' hour', 'minutes', 'minutes']

4\. Напишите регулярное выражение, которое ищет шаблон вида "this..., but" _в начале строки_ . Между словом "this" и частью ", but" может находиться произвольное число букв, цифр, знаков подчеркивания и пробелов. Никаких других символов вместо многоточия быть не может. Пробел между запятой и словом "but" может присутствовать или отсутствовать.

Используя строковые методы `pd.Series`, выясните, для каких рецептов данный шаблон содержится в тексте описания. Выведите на экран количество таких рецептов и 3 примера подходящих описаний (текст описания должен быть виден на экране полностью).

In [ ]:
cout = 0
for i in list(recipes['id']):
  if len(re.findall(r'["]\bthis\b[\d\w_ ]+,[ ]?\bbut\b', show_info(i))) != 0:
    if cout < 3:
      print(show_info(i))
    cout += 1
print(cout)

"3 or 4  bean salad"
1. "combine the beans and onion in a glass bowl"
2. "pour the oil , vinegar , sugar and celery salt into a saucepan and bring to a boil , allowing the sugar to dissolve"
3. "pour the vinegar mix over the beans and onions in the bowl and mix well"
4. "allow to cool for 30 minutes then refrigerate until ready to use"
5. "this salad is best after about 6 hours , but is still good if you want to use it right away"
-------------------------------------------------------------------
Автор: 37026
Среднее время приготовления: 10 минут
"all the fixins curried chicken salad"
1. "combine all the ingredients"
2. "refrigerate"
3. "easy-peasy !"
4. "all of the amounts are approximate -- adjust to your taste"
5. "i use leftover roast chicken -- dh usually makes a lot at a time , so we have leftovers"
6. "i prefer golden raisins"
7. "if the chutney is chunky , you can chop it tiny or leave it as is"
8. "i use a few shakes of a mild hot sauce like green tabasco"
9. "you can substitute black or cayenne pepper"
10. "use as much mayo as you like"
11. "or substitute greek yogurt"
12. "this is yummy by itself , but also makes a good sandwich"
13. "i particularly like it with butter lettuce on a croissant or brioche"
-------------------------------------------------------------------
Автор: 1029909
Среднее время приготовления: 15 минут
"bacon  blue cheese  cauliflower chowder"
1. "cut bacon into small pieces"
2. "in large stock pot over medium heat cook bacon until crisp"
3. "drain off fat"
4. "chop onions , slice leeks lengthwise clean and chop"
5. "add onions , leeks , thyme , bay leaves and garlic to pot with bacon"
6. "saute until onions are translucent"
7. "cut cauliflower into small florets , grate carrots and slice mushrooms"
8. "add florets , carrots and mushrooms to pot and saute for 5-10 minutes"
9. "add chicken broth and cook until vegetables are done"
10. "add blue cheese and cook until blue cheese melts"
11. "pour in half and half turn heat to low and cook approx 10-15 minutes until heated throughly"
12. "i have been known to add any kind of fish that will hold together"
13. "delicious on a cold rainy night"
14. "this makes a big batch , but when i fix it we have it for dinner then lunch the next day"
-------------------------------------------------------------------
Автор: 146552
Среднее время приготовления: 80 минут
30

5\. В текстах шагов рецептов обыкновенные дроби имеют вид "a / b". Используя регулярные выражения, уберите в тексте шагов рецепта с id 72367 пробелы до и после символа дроби. Выведите на экран шаги этого рецепта после их изменения.

In [ ]:
new_data = re.sub(r"\s*(\d+)\s*\/\s*(\d+)\s*", r"\1/\2", show_info(72367))
print(new_data)

"bavarian apple cheese cake tart"
1. "mix butter , flour ,1/3c"
2. "sugar and 1-1/4t"
3. "vanilla"
4. "press into greased 9" springform pan"
5. "mix cream cheese ,1/4c"
6. "sugar , eggs and1/2t"
7. "vanilla beating until fluffy"
8. "pour over dough"
9. "combine apples ,1/3c"
10. "sugar and cinnamon"
11. "arrange on top of cream cheese mixture and sprinkle with almonds"
12. "bake at 350 for 45-55 minutes , or until tester comes out clean"
-------------------------------------------------------------------
Автор: 93006
Среднее время приготовления: 65 минут

### Сегментация текста

6\. Разбейте тексты шагов рецептов на слова при помощи пакета `nltk`. Посчитайте и выведите на экран кол-во уникальных слов среди всех рецептов. Словом называется любая последовательность алфавитных символов (для проверки можно воспользоваться `str.isalpha`). При подсчете количества уникальных слов не учитывайте регистр.

In [ ]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (3.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk) (4.65.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk) (8.1.3)

In [ ]:
nltk.download("popular")

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [ ]:
from nltk.tokenize.toktok import ToktokTokenizer
toktok = ToktokTokenizer()
all_list = []
for i in list(recipes['id']):
  k = ' '.join(show_info(i).split('\n')[1:-3])
  lo = toktok.tokenize(k)
  [all_list.append(y) for y in lo if y.isalpha() == True and y.lower() not in all_list]
print(len(all_list))

14956

7\. Разбейте описания рецептов из `recipes` на предложения при помощи пакета `nltk`. Найдите 5 самых длинных описаний (по количеству _предложений_) рецептов в датасете и выведите строки фрейма, соответствующие этим рецептами, в порядке убывания длины.

In [ ]:
from nltk.tokenize import sent_tokenize
all_sent = [0,0,0,0,0]
name_sent = [0,0,0,0,0]
for sents in list(recipes['description']):
  try:
    k = len(sent_tokenize(sents))
    if k > min(all_sent):
      name_sent[all_sent.index(min(all_sent))] = sents
      all_sent[all_sent.index(min(all_sent))] = k
  except: pass
for i in range(5):
  display(recipes[(recipes.description == name_sent[all_sent.index(max(all_sent))])])
  all_sent[all_sent.index(max(all_sent))] = 0

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
18408,my favorite buttercream icing for decorating,334113,30,681465,2008-10-30,12.0,this wonderful icing is used for icing cakes a...,NaN

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
481,alligator claws avocado fritters with chipot...,287008,45,765354,2008-02-19,NaN,a translucent golden-brown crust allows the gr...,9.0

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
22566,rich barley mushroom soup,328708,60,221776,2008-10-03,NaN,this is one of the best soups i've ever made a...,10.0

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
16296,little bunny foo foo cake carrot cake with c...,316000,68,689540,2008-07-27,14.0,the first time i made this cake i grated a mil...,NaN

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
6779,chocolate tea,205348,6,428824,2007-01-14,NaN,i wrote this because there are an astounding l...,NaN

8\. Напишите функцию, которая для заданного предложения выводит информацию о частях речи слов, входящих в предложение, в следующем виде:
```
PRP   VBD   DT      NNS     CC   VBD      NNS        RB   
 I  omitted the raspberries and added strawberries instead
``` 
Для определения части речи слова можно воспользоваться `nltk.pos_tag`.

Проверьте работоспособность функции на названии рецепта с id 241106.

Обратите внимание, что часть речи должна находиться ровно посередине над соотвествующим словом, а между самими словами должен быть ровно один пробел.

In [ ]:
from nltk.tokenize import word_tokenize
from nltk import pos_tag
def get_pos_info(sentence):
  pos_info1 = pos_info2 = ''
  tokens = word_tokenize(sentence)
  pos_tags = pos_tag(tokens)
  for tag in pos_tags:
    pos_info2 += tag[0] + ' '
    pos_info1 += tag[1] + ' '
  print(pos_info1)
  print(pos_info2)
sentence = list(recipes[(recipes.id == 241106)]['name'])[0]
pos_info = get_pos_info(sentence)

JJ NNS IN NNS VBP JJ CC JJ NNS
eggplant steaks with chickpeas feta cheese and black olives